$white: #ffffff;
$blue: #38aef0;
$light-gry: #999999;
$gry: #434a54;
$white_: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;